{#https://medium.com/django-tr/bu-videomuzda-veritaban%C4%B1na-nas%C4%B1l-veri-ekleyece%C4%9Fimizi-g%C3%BCncelleyece%C4%9Fimizi-ve-listeleyebilece%C4%9Fimizi-32ebe5b9ab1f#}

{% extends 'Home/base_template.html' %}
{% load static %}
{% block content %}



    <div class="main-wrapper">


        <div class="page-wrapper">
            <div class="content container-fluid">

                <div class="page-header">
                    <div class="content-page-header">
                        <h5>Blank Page</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        Contents here
                    </div>
                </div>
            </div>
        </div>

    </div>




{% endblock %}